<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增用户信息</title>
    <link th:href="@{webjars/bootstrap/4.5.3/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div style="width:100%;text-align:center;margin-top: 10%">
    <form action="/insert" method="post" th:object="${admin}">
        <div style="width:100%;text-align:center">
            <label>ID</label>
            <input type="text" class="col-sm-2" placeholder="ID" name="id">
            <label>username</label>
            <input type="text" class="col-sm-2" placeholder="username" name="username">
            <label>password</label>
            <input type="text" class="col-sm-2" placeholder="password" name="password">
        </div>
        <br>
        <input class="btn btn-success" type="submit" value="提交">
    </form>
</div>
</body>
</html>